@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(23, 21, 21);
  font-family: 'Tajawal', sans-serif;
}

.navLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.container,
.pokeList {
  -webkit-box-shadow: -5px 3px 15px -1px #646464;
  box-shadow: -5px 3px 15px -1px #646464;
}

.container {
  display: flex;
  width: 90%;
  height: auto;
  margin: auto;
  padding: 30px;
  border-radius: 15px;
  background-color: #f1b900;
  margin-top: 40px;
  margin-bottom: 100px;
}

.leftSpace,
.rightSpace {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  width: 50%;
}

/* nameFilter */
.nameFilter {
  border: none;
  padding: 15px;
}
.leftSpace {
  flex-direction: column;
  width: 100%;
}

.navigationBtn {
  margin-top: 20px;
  display: flex;
  gap: 1em;
}
.navigationBtn button {
  padding: 10px;
  border: none;
  width: 100px;
  cursor: pointer;
}
.pokeList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  width: 250px;
  background-color: rgb(23, 21, 21);
  color: #b1b8be;
  border-radius: 10px;
  cursor: pointer;
}

.pokeList img {
  width: 90px;
}

/* CardInfo */
.cardInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 600px;
  padding: 30px;
  border-radius: 15px;
  background-color: #2a73b9;
  filter: drop-shadow(-13px 7px 16px #000);
}
.cardInfoContainer h1 {
  text-transform: uppercase;
  color: rgb(208, 211, 213);
}
.cardInfoContainer img {
  width: 150px;
  margin: 35px 0;
  filter: drop-shadow(-4px 1px 10px #000);
}

/* Loader  */

.loader {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2.5s linear infinite;
}
.loader::after {
  animation-delay: 0.5s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.basicDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2em;
}

.types {
  margin-right: 10px;
  font-size: 20px;
  display: flex;
}

.types > span {
  font-weight: bold;
  margin-right: 10px;
}

.types > ul {
  display: flex;
  list-style-type: none;
}

.dimensions {
  display: flex;
  gap: 1em;
}

.abilities {
  list-style-type: none;
  width: max-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}

.abilities li {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: rgb(208, 211, 213);
  letter-spacing: 2px;
  font-weight: bold;
}
