* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(23, 21, 21);
}

.container,
.pokeList,
.cardInfoContainer {
  -webkit-box-shadow: -5px 3px 15px -1px #646464;
  box-shadow: -5px 3px 15px -1px #646464;
}

.container {
  display: flex;
  width: 60%;
  height: auto;
  margin: auto;
  padding: 30px;
  border-radius: 15px;
  background-color: #f1b900;
  margin-top: 200px;
}

.leftSpace,
.rightSpace {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  width: 50%;
}

.leftSpace {
  flex-direction: column;
}

.navigationBtn {
  margin-top: 20px;
  display: flex;
  gap: 1em;
}
.navigationBtn button {
  padding: 10px;
  border: none;
  width: 100px;
  cursor: pointer;
}
.pokeList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 250px;
  background-color: rgb(76, 133, 147);
  border-radius: 10px;
  cursor: pointer;
}

.pokeList img {
  width: 70px;
}

/* CardInfo */

.cardInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 30px;
  border-radius: 15px;
  background-color: rgb(23, 21, 21);
}
.cardInfoContainer h1 {
  text-transform: uppercase;
  color: rgb(208, 211, 213);
}
.cardInfoContainer img {
  width: 150px;
}
.abilities {
  list-style-type: none;
  width: max-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}

.abilities li {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: rgb(208, 211, 213);
}
